* {
    background-color: #272727;
}

/*--------------------------------------------------------------------------------------------------------------*/
/* Main area */

.line{
    stroke: white;
    stroke-width: 2;
}
